#daftar-siswa {
    background-color: #2f394d;
    font-family: sans-serif;
    font-weight: 400;
    color:#F3F4F6;
    margin: auto;
}

#daftar-siswa p:hover{
    color: #111827;
    background-color: gainsboro;
}

#daftar-siswa p{
    padding: 15px 10px;
}
